<h2>Endpoints de Detalles de Productos</h2>

                <details>
                  <summary>POST /api/v1/detalles_productos/:id</summary>
                  <ul>
                    <li><strong>Descripción:</strong> Crea nuevos detalles para un producto. Acepta un array de detalles
                      en formato JSON.</li>
                    <li><strong>Instrucciones:</strong> Envía un objeto JSON con los detalles que se desean agregar. El
                      array de detalles debe contener objetos con las propiedades <code>especificacion</code> y
                      <code>valor</code>, junto al id del producto que deseas agregar los detalles.
                    </li>
                    <li><strong>Ejemplo de solicitud:</strong></li>
                    <pre>
                POST /api/v1/detalles_productos/:id
                Content-Type: application/json
                
                {
                  "detalles": [
                    {
                      "especificacion": "Color",
                      "valor": "Rojo"
                    },
                    {
                      "especificacion": "Tamaño",
                      "valor": "Mediano"
                    }
                  ]
                }
                    </pre>
                    <li><strong>Ejemplo de respuesta:</strong></li>
                    <pre>
      {
        "message": "Detalles creados exitosamente"
      }</pre>
                    <li><strong>Errores posibles:</strong></li>
                    <ul>
                      <li><strong><code>400 Bad Request:</code></strong> Si el formato de los detalles no es válido o si
                        no se proporciona ningún detalle.
                        <pre><code>
      {
        "error": "El formato de los detalles no es válido."
      }</code></pre>
                      </li>
                      <li><strong><code>500 Internal Server Error:</code></strong> En caso de error en la base de datos.
                        <pre><code>
      {
        "error": "Error al crear los detalles del producto"
      }</code></pre>
                      </li>
                    </ul>
                  </ul>
                </details>

                <details>
                  <summary>PUT /api/v1/detalles_productos/:id</summary>
                  <ul>
                    <li><strong>Descripción:</strong> Actualiza un detalle específico de un producto.</li>
                    <li><strong>Instrucciones:</strong> Proporciona el <code>id</code> del detalle a actualizar en la
                      URL y envía un objeto JSON con los campos <code>especificacion</code> y <code>valor</code> que
                      deseas modificar.</li>
                    <li><strong>Ejemplo de solicitud:</strong></li>
                    <pre>
                PUT /api/v1/detalles_productos/12345
                Content-Type: application/json
                
                {
                  "especificacion": "Color",
                  "valor": "Azul"
                }
                    </pre>
                    <li><strong>Ejemplo de respuesta:</strong></li>
                    <pre>
      {
        "message": "Detalle actualizado exitosamente"
      }</pre>
                    <li><strong>Errores posibles:</strong></li>
                    <ul>
                      <li><strong><code>400 Bad Request:</code></strong> Si falta el campo <code>especificacion</code> o
                        <code>valor</code>.
                        <pre><code>
      {
        "error": "Especificación y valor son obligatorios."
      }</code></pre>
                      </li>
                      <li><strong><code>404 Not Found:</code></strong> Si no se encuentra un detalle con el
                        <code>id</code> proporcionado.
                        <pre><code>
      {
        "error": "Detalle no encontrado"
      }</code></pre>
                      </li>
                      <li><strong><code>500 Internal Server Error:</code></strong> En caso de error en la base de datos.
                        <pre><code>
      {
        "error": "Error al actualizar el detalle"
      }</code></pre>
                      </li>
                    </ul>
                  </ul>
                </details>

                <details>
                  <summary>DELETE /api/v1/detalles_productos/:id</summary>
                  <ul>
                    <li><strong>Descripción:</strong> Elimina un detalle específico de un producto utilizando su
                      <code>id</code>.
                    </li>
                    <li><strong>Instrucciones:</strong> Proporciona el <code>id</code> del detalle a eliminar en la URL.
                    </li>
                    <li><strong>Ejemplo de respuesta:</strong></li>
                    <pre>
      {
        "message": "Detalle eliminado exitosamente"
      }</pre>
                    <li><strong>Errores posibles:</strong></li>
                    <ul>
                      <li><strong><code>404 Not Found:</code></strong> Si no se encuentra un detalle con el
                        <code>id</code> proporcionado.
                        <pre><code>
      {
        "error": "Detalle no encontrado"
      }</code></pre>
                      </li>
                      <li><strong><code>500 Internal Server Error:</code></strong> En caso de error en la base de datos.
                        <pre><code>
      {
        "error": "Error al eliminar el detalle"
      }</code></pre>
                      </li>
                    </ul>
                  </ul>
                </details>